*{
    margin: 0;
    padding: 0;

}
body
{
    font-family: sans-serif;
}
#nav-bar{
position: sticky;
top: 0;
z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #2a2ada,#3b5cc0);
    padding: 0 !important;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    /* float: right; */
    text-align: left;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}

/* BANNER SECTION */

#banner{
    background-image:linear-gradient(to right, #2a2ada,#3b5cc0);
    color: #fff;
   
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
}

/* Services section */
#services{
    padding:80px 0;
}
.fa-heartbeat{
    width: 100px;
    margin-top: 20px;
}
.services{
    padding: 20px;
}
.fa-plus-circle{
    width: 100px;
    margin-top: 20px;
}
.fa-flask{
    width: 100px;
    margin-top: 20px;
}
.fa-bed{
    width: 100px;
    margin-top: 20px;
}
.fa-user{
    width: 100px;
    margin-top: 20px;
}
.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before{
    content:'';
    background: #2a2ada;
    height:5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after{
    content:'';
    background:  #2a2ada;
    height:10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}



/* about us section */

#about-us{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title{
    margin-top: 8%;
    font-size: 20px;
    font-weight: 400;
}
.img-fluid{
    margin-top: 8%;
}
/* social media */
#contact{
    background: #f8f9fa;
    padding: 100px 0;
}
#contact p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img{
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img{
    transform: translateY(-10px);
}

/* footer section */

#footer{
    background-image: linear-gradient(to right, #2a2ada,#3b5cc0);
    color: #fff;
}
.footer-box{
    padding: 20px;

}
.footer-links{
    padding: 20px;
}

/* Admisiion section */

#appointment{
    padding:80px 0;
}

#appointment .btn-primary{
    margin-top: 2%;
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #2a2ada,#3b5cc0);
    
}